* {
  font-size: 10px;
}

body {
  margin: 0;
  overflow-x: hidden;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}
.navhead {
  height: 80px;
  display: flex;
  /* justify-content: space-around; */
  width: 100vw;
  align-items: center;
}
/* .login {
    display: flex;
    width: 25vw;
    justify-content: center;
}
.login li {
    margin: 0 1.5rem;
}
.login li a {
    font-size: 1.5rem;
} */

.navLinks {
  display: flex;
  width: 60vw;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  padding: 0 4rem;
}
.navLinks li {
  margin-left: 6rem;
}

.logoMain {
  height: 40px;
  margin-left: 3rem;
}

.compName {
  width: 40vw;
  display: flex;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
}
/* .compName h1 {
    
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
} */

.dropdown {
  display: inline-block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-left: 6rem;
  z-index: 1000;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 30rem;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  margin-left: -11rem;
}
.dropdown:hover .dropdown-content {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}
.dropdown-content a:hover {
  color: #00a4bd;
  /* background-color: #00A4BD; */
}
.dropdown button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.dropdown button i {
  font-size: 2;
}

/*  ------------------------ main page card ---------------------------*/

.card1 {
  width: 100vw;
  height: 70vh;
  background-color: #e7f2f3;
  display: flex;
}
.c1cards {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .c1cards img {
    width: 80%;
} */
.sDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.sDiv h1 {
  font-size: 5rem;
}

.sDiv h2 {
  font-size: 3rem;
}

.box {
  position: relative;
  width: 80px;
}

.input {
  padding: 10px;
  width: 80px;
  height: 80px;
  background: none;
  border: 4px solid #00a4bd;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 26px;
  color: #00a4bd;
  outline: none;
  transition: 0.5s;
}
.box:hover input {
  width: 350px;
  background: #3b3640;
  border-radius: 10px;
}
.box i {
  position: absolute;

  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #00a4bd;
  transition: 0.2s;
}
.box:hover i {
  opacity: 0;
  z-index: -1;
}

.card2 {
  width: 100vw;
  height: 30vh;
  background-color: #86bdc5;
}

/* ---------------------  footer  ---------------------------------  */

.footer {
  padding-top: 20px;
  height: 30vh;
  font-family: "Poppins", sans-serif;
  /* background-color: red; */
}

.f1 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.f11 {
  width: 40vw;
}
.f11 h1 {
  font-size: 2rem;
}
.f11 p {
  font-size: 2rem;
}
.f12 {
  display: flex;
  width: 40vw;
  justify-content: space-around;
}
.f12 li {
  margin: 1rem 0;
}

.fH {
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: underline;
}
.f2 {
  display: flex;
  width: 100vw;
  justify-content: flex-start;
  align-items: flex-end;
}

.f21 {
  width: 45vw;
  margin: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.f22 {
  display: flex;
  width: 50vw;
  justify-content: flex-end;
  margin: 0rem 8rem;
}
.f22 i {
  font-size: 3rem;
  margin: 3rem;
}
.f21 h1 {
  font-size: 1.5rem;
}

/* ----------------Login component -------------- */
.loginMain {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.welcome {
  font-family: "Poppins", sans-serif;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
}

.welcome h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 1rem 0;
}

.welcome h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin:0;
}

.welcome img {
  height: 3rem;
  margin: 1rem 0;
}

.contS {
  padding: 4px 1.1rem;
  width: 38rem;
  height: 5rem;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  margin: 1rem 0;
  cursor: pointer;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
  transition: ease-in 0.1s;
}

.contS:hover, .contS1:hover {
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.6);
}

.contS img {
  width: 2.4rem;
  padding-right: 1rem;
}

.selectMail {
  display: flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  height: 50rem;
}

.selectMail input {
  padding: 4px 1rem;
  width: 36rem;
  height: 4rem;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  box-shadow: 6px rgba(0, 0, 0);
  border: 1px solid rgba(57, 56, 56, 0.3);
}

.contS1 {
  padding: 4px 1.1rem;
  width: 38rem;
  height: 5rem;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #000000;
  margin: 2rem 0;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
  transition: ease-in 0.1s;
}

.orDiv {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: center;
}
.orDiv h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 1rem;
}
.orDiv div {
  width: 17rem;
  border-top: 2px solid #0000001f;
}

.dontAcc {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  align-items: center;
}

.dontAcc a {
  color:rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 0.5rem;
}
.dontAcc h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

/* ------------------------  About Us --------------------------------- */

.main1 {
  display: flex;
  flex-direction: row;
  height: 65vh;
}

.mission {
  /* height: 100%; */
  width: 65rem;
  display: flex;
  flex-direction: column;
  /* padding: 5rem;  */
  font-family: "Poppins", sans-serif;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.mission h1 {
  font-size: 5rem;
}
.mission p {
  width: 90%;
  font-size: 1.5rem;
  line-height: 2.2;
}
.mmmm {
  height: 100%;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7f2f3;
  /* padding: 3rem; */
}

.team {
  width: 40vw;
  text-align: center;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team h1 {
  font-size: 2.5rem;
  /* margin-top: 3rem; */
  font-weight: bolder;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.img-bx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(30px) scale(0.5);
  transform-origin: top;
}

.img-bx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
}

.content .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.content .detail h2 {
  color: #444;
  font-size: 1.8rem;
  font-weight: bolder;
}

.content .detail h2 span {
  font-size: 0.7em;
  color: #03a9f4;
  font-weight: bold;
}

.sci {
  position: relative;
  display: flex;
  margin-top: 5px;
  padding-left: 0%;
}

.sci li {
  list-style: none;
  margin: 4px;
}

.sci li a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  font-size: 1.5em;
  color: #444;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}

.sci li a i {
  font-size: larger;
}

.sci li a:hover {
  background: #03a9f4;
  color: #fff;
}

.swiper {
  width: 80%;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: #1f7c8a;
  font-weight: bolder;
}

/* ---------------------------- PROF IN ESCOE -------------------------- */

.filterTheProf {
  position: absolute;
  top: 6rem;
  left: 2.5%;
  width: 14%;
  min-height: 35rem;
  /* border: 2px solid black; */
  border-radius: 2rem;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  font-family: "Poppins", sans-serif;
  background-color: rgb(245, 244, 244, 0.6);
  backdrop-filter: blur(16px);
  /* backdrop-filter: sepia(90%); */
}

.filterHeadName {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterHeadName h1 {
  font-size: 1.5rem;
}

.borderBro {
  width: 80%;
  margin: auto;
  border-top: 1px solid black;
}

.fil {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  align-items: center;
}

.fil label {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 3px auto;
  /* justify-content: ; */
  font-size: 0.85vw;
  align-items: center;
  /* justify-content: center; */
}

.fil label input {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}

.deptFilter {
  width: 100%;
}
.deptFilter div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deptFilter div h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.engg {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.scrollDivProf {
  height: 43rem;
  padding: 2rem 4rem 2rem 1rem;
  /* margin-bottom: 2rem; */
  overflow-y: auto;
}


.namesearchbutt {
  text-decoration: underline;
  margin: 5rem 0;
  width: 80rem;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}
.namesearchbutt li {
  color: #3144ee;
  /* margin: 0 1rem; */
  font-size: 2rem;
  cursor: pointer;
}

.favourite {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.profDiv {
  width: 80rem;
  height: 16rem;
  background-color: #f7f7f7;
  font-family: "Poppins", sans-serif;
  margin-left: 3rem;
  display: flex;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 1.5rem;
  position: relative;
  /* pointer-events: none; */
}

.profDiv:hover {
  background-color: #8bd6e2;
}

.leftProfDiv {
  height: 100%;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.leftProfDiv h2 {
  font-size: 1.2rem;
  font-weight: 500;
}
.leftProfDiv div {
  width: 7rem;
  height: 7rem;
  /* background-color: rgb(161, 41, 41); */
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftProfDiv div h1 {
  font-size: 3.5rem;
  font-weight: bolder;
}

.rightProfDiv {
  height: 100%;
  width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}
.rightProfDiv h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}
.rightProfDiv h2 {
  font-size: 1.5rem;
  /* margin: 0.5rem 0; */
  font-weight: 300;
}

.searchBarProfs {
  margin-bottom: 5rem;
  display: flex;
}

.engg input {
  /* background-color: white; */
  background-color: rgb(245, 244, 244, 0.6);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* border: 2px solid black; */
  border: none;
  /* border-style: solid none solid solid; */
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
  font-family: "Poppins", sans-serif;
  border-radius: 2rem 0 0 2rem;
}

.searchIcon {
  height: 60px;
  width: 50px;
  /* background-color: white; */
  display: grid;
  place-items: center;
  /* border: 2px solid black; */
  border-radius: 0 2rem 2rem 0;
  /* border-style: solid solid solid none; */
  background-color: rgb(245, 244, 244, 0.6);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.buttonLogin {
  width: 30rem;
  height: 5rem;
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  border: none;
}

/* -------------------------- Prof profile page -------------------------------- */

.ratingProfDetails {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5rem;
}

.ratingProfDetails div {
  width: 17rem;
  height: 119px;
  display: flex;
  /* border: black 2px solid; */
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  /* background-color: #f5f4f4; */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.ratingProfDetails div h1 {
  font-size: 8rem;
}
.ratingProfDetails div h2 {
  margin-top: 5rem;
  font-size: 2.3rem;
}
.ratingProfDetails h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.pTop1 {
  width: 100vw;
  font-family: "Poppins", sans-serif;
  height: 23rem;
  display: flex;
}

.pTopL1 {
  display: flex;
  width: 67vw;
  height: 100%;
}

.profTotDetails {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profTotDetails h1 {
  font-size: 4rem;
  margin: 0 0 0.5rem 0;
}

.profTotDetails h2 {
  font-size: 2rem;
  margin: 1rem 0 0 0;
  font-weight: 600;
}

.pTopL2 {
  width: 33vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pTopL2 h2 {
  font-size: 1.4rem;
  text-decoration: underline;
}

.pTopL2 h2:hover {
  color: #394dff;
}

.pTop2 {
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid black;
  padding: 2rem 0 5rem 0;
}

.pTopR1 {
  width: 75vw;
  display: flex;
  flex-direction: column;
  /* align-items: ; */
}
.barDiv {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.barDiv h2 {
  font-size: 2rem;
  width: 19rem;
  /* text-align: end; */
  padding-right: 2rem;
  margin-left: 6rem;
}

.barDiv div {
  background-color: #e4e4e4;
  height: 6rem;
  width: 60rem;
  /* margin:2rem; */
  border: 2px solid black;
  border-radius: 1rem;
}
.barDiv div div {
  height: 100%;
  background-color: #f1d989;
}

.pTop3 {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
}

.selectCourse {
  margin: 4rem 0 4rem 6rem;
  background-color: white;
  border: 2px solid black;
  border-style: solid solid solid solid;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  /* height: 30px; */
  width: 300px;
  font-family: "Poppins", sans-serif;
}

.pTop3-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.userRatDiv {
  width: 46rem;
  min-height: 25rem;
  /* border: black solid 2px; */
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.8); */
  border-radius: 1rem;
  margin: 5rem 3rem;
  background-color: #f2f2f2;
  padding-top: 1.5rem;
}

.userNum {
  height: 12rem;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 3rem;
  
}

.numBar {
  /* background-color: #d9d9d9; */
  /* padding: 0.5rem 2rem; */
  height: 3rem;
  width: 20rem;
  margin: 1rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.numBar div {
  background-color: #d9d9d9;
  margin: 0 1rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;  
  border-radius: 4px;  
}

.numBar h2 {
  font-size: 1.5rem;
}

.userText {
  display: flex;
  flex-direction: column;
}
.courseName {
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
}
.courseName h2, p {
  font-size: 1.5rem;
}

/* // rating page  */

.ratingTheProf {
  background-color: #eaeaea;
  padding: 3rem 0;
}

.rateStars {
  width: 40rem;
  border-radius: 1.5rem;
  min-height: 5rem;
  background-color: white;
  margin: 5rem 10rem;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4); */
}

.rateStars h1 {
  font-size: 2rem;
}

.rateStarsCourse {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
}
.rateStarsCourse select {
  margin: 2rem 0 2rem 3rem;
  background-color: white;
  border: 2px solid black;
  border-style: solid solid solid solid;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 15px;
  padding: 10px;
  /* height: 30px; */
  width: 260px;
  font-family: "Poppins", sans-serif;
}

.rateStarsCourse select option {
  font-size: 18px;
}

.starDiv {
  display: flex;
  flex-direction: row;
  /* margin-left: 2rem; */
}

.starDiv svg {
  color: #fdcc0d;
  font-size: 4rem;
  cursor: pointer;
}

.rateBig {
  display: flex;
  flex-direction: row;
}

.rateStarsTextDiv {
  /* width: 80rem; */
  width: 80%;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  border-radius: 1rem;
  /* border:rgba(0, 0, 0, 0.833) 2px solid; */
  margin-left: 0;
  /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4); */
}

.rateStarsTextDiv div {
  background-color: #d7ebf0;
  /* background-color:#39fbd4; */
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

.rateStarsTextDiv h1 {
  margin: 2rem;
}

.rateStars textarea {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 0 0 1.5rem 1.5rem;
  /* background-color: #EAEAEA; */
  /* background-color: transparent; */
}

.ratehim2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50vw;
}

.bbb111 {
  width: 20rem;
  background-color: #faf9f9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
.bbb111:hover {
  background-color: #939292;
  color: #faf9f9;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 25rem;
  width: 45rem;
  font-family: "Poppins", sans-serif;
}

.modal h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal button {
  background-color: #337ab7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.modal button:hover {
  background-color: #286090;
}

.modal img {
  width: 8rem;
}
